.signup-container ,.login-container,.forget-container, .reset-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.signup-form, .login-form, .forget-form, .reset-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.illustration-login{
    display: flex;
    width: 100%;
    justify-content: center;
}
svg{
    width: 540px;
    height: 150px;

}
.login-options{
    display: flex;
    flex-direction: column;
}